/*
   mockup1.css
   17 May 2025
   Rui, Raquel
*/

body {
  margin: 50px;
  font-family: sans-serif;
  color: #3b3a3a;
}

.main-content {
  flex: 1;  
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  margin: 0;
  font-size: 30px;
}
.menu-button {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 150px;
  margin: 40px 0;
  justify-content: center;
}
.nav-buttons button {
  padding: 12px 24px;
  border: 6px solid #6e3ddf;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px ;
}

.search-box {
  display: flex;
  align-items: center;      
  max-width: 600px;
  height: 50px;
  background: white;
  border: 2px solid #6e3ddf;
  border-radius:  25px;
  margin: 40px auto;
}
.search-box input {
  flex: 1;
  border: none ;
  padding: 0 20px;
  font-size: 12px;
  outline: none;
  border-radius: 25px 0 0 25px;
  align-items: center; 
}
.search-box button {
  width: 60px;
  border: none;
  background: #6e3ddf;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0 25px 25px 0;  
  height: 100%;     
  align-items: center; 
}

