
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}" />
  <script defer src="{{ url_for('static', filename='homepage.js') }}" ></script>
  <title>>Harry Potter Wiki</title>
</head>
<head>
  <meta charset="UTF-8" />
  <title>Harry Potter Wiki</title>
  <link rel="stylesheet" href="homepage.css" />
</head>
<body>


  <main class="main-content">
    <header class="header">
      <h1 class="logo"><a href="/api/help">HP wiki</a></h1>
    </header>
    <div class="welcome-box">
      Welcome to the HP wiki, muggles! Are you looking for...
    </div>
    <div class="header-controls">
      <div class="search-container">
        <input id="global-search" type="text" placeholder="Search by the name of a character/potion/spell " autocomplete="off" />
        <button aria-label="Search">🔍</button>
        <ul id="search-suggestions" class="suggestions"></ul>
      </div>
    </div>
    <div class="nav-buttons">
      <div class="nav-item">
        <a href="{{ url_for('filterpage', type='potions') }}">
          <button id="potions-btn" class="nav-button">Potions</button>
        </a>
        
        <div id="potions-content" class="content-box">
          <img src="{{ url_for('static', filename='potions_cover.JPG') }}"
                alt="Potions cover"
                class="content-cover"/>
          <ul id="potion-list" class="character-list"></ul>
        </div>
      </div>

      <div class="nav-item">
        <a href="{{ url_for('filterpage', type='characters') }}">
        <button id="characters-btn" class="nav-button">Characters</button>
        </a>
        <div id="characters-content" class="content-box">
          <img src="{{ url_for('static', filename='characters_cover.jpg') }}"
                alt="Characters cover"
                class="content-cover"/>
          <ul id="character-list" class="character-list"></ul>
        </div>
      </div>
    
  
      <div class="nav-item">
        <a href="{{ url_for('filterpage', type='spells') }}">
        <button id="spells-btn" class="nav-button">Spells</button>
       </a>
        <div id="spells-content" class="content-box">
          <img src="{{ url_for('static', filename='spells_cover.JPG') }}"
                alt="Spells cover"
                class="content-cover"/>
          <ul id="spell-list" class="character-list"></ul>
        </div>
      </div>
    </div>

  </main>

</body>
</html>
