
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" ></script>
  <title>>Harry Potter Wiki</title>
</head>
<head>
  <meta charset="UTF-8" />
  <title>Harry Potter Wiki</title>
  <link rel="stylesheet" href="webapp.css" />
</head>
<body>
    <main class="main-content">
      <header class="header">
        <h1 class="logo">HP wiki</h1>
      </header>
      <button class="menu-button" aria-label="Menu">☰</button>
      <div class="welcome-box">
        Welcome to the HP wiki, muggles! Are you looking for...
      </div>
      <div class="header-controls">
        <div class="search-box">
          <input type="text" placeholder="Search…" />
          <button aria-label="Search">🔍</button>
        </div>
        
      </div>
  
  
      <div class="nav-buttons">
        <div class="nav-item">
          <button id="potions-btn" class="nav-button">Potions</button>
          <div id="potions-content" class="content-box">
            <img src="{{ url_for('static', filename='potions_cover.JPG') }}"
                 alt="Potions cover"
                 class="content-cover"/>
            <ul id="potion-list" class="character-list"></ul>
          </div>
        </div>
  
        <div class="nav-item">
          <button id="characters-btn" class="nav-button">Characters</button>
          <div id="characters-content" class="content-box">
            <img src="{{ url_for('static', filename='characters_cover.jpg') }}"
                 alt="Characters cover"
                 class="content-cover"/>
            <ul id="character-list" class="character-list"></ul>
          </div>
        </div>
      
    
        <div class="nav-item">
          <button id="spells-btn" class="nav-button">Spells</button>
          <div id="spells-content" class="content-box">
            <img src="{{ url_for('static', filename='spells_cover.JPG') }}"
                 alt="Spells cover"
                 class="content-cover"/>
            <ul id="spell-list" class="character-list"></ul>
          </div>
        </div>
      </div>
  
    </main>

</body>
</html>
